In [1]:
print('Data drift evidently')

Data drift evidently

In [3]:
import pandas as pd 
from evidently.dashboard import Dashboard
from evidently.tabs import DataDriftTab , CatTargetDriftTab
from evidently.model_profile import Profile
from evidently.profile_sections import DataDriftProfileSection

In [4]:
## load boston data

In [5]:
data_url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
boston_frame = pd.read_csv(data_url)

Data Drift Dashboard

In [6]:

boston_frame.shape

(506, 14)

In [7]:

boston_frame[:200]  #train/ reference data

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
195  0.01381  80.0   0.46     0  0.422  ...  255     14.4  394.23   2.97  50.0
196  0.04011  80.0   1.52     0  0.404  ...  329     12.6  396.90   4.08  33.3
197  0.04666  80.0   1.52     0  0.404  ...  329     12.6  354.31   8.61  30.3
198  0.03768  80.0   1.52     0  0.404  ...  329     12.6  392.20   6.62  34.6
199  0.03150  95.0   1.47     0  0.403  ...  402     17.0  396.90   4.56  34.9

[200 rows x 14 columns]

In [8]:

boston_frame[200:] #test data

        crim    zn  indus  chas     nox  ...  tax  ptratio       b  lstat  medv
200  0.01778  95.0   1.47     0  0.4030  ...  402     17.0  384.30   4.45  32.9
201  0.03445  82.5   2.03     0  0.4150  ...  348     14.7  393.77   7.43  24.1
202  0.02177  82.5   2.03     0  0.4150  ...  348     14.7  395.38   3.11  42.3
203  0.03510  95.0   2.68     0  0.4161  ...  224     14.7  392.78   3.81  48.5
204  0.02009  95.0   2.68     0  0.4161  ...  224     14.7  390.55   2.88  50.0
..       ...   ...    ...   ...     ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.5730  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.5730  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.5730  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.5730  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.5730  ...  273     21.0  396.90   7.88  11.9

[306 rows x 14 columns]

In [9]:
boston_data_drift_dashboard = Dashboard(tabs=[DataDriftTab()])
boston_data_drift_dashboard.calculate(boston_frame[:200], boston_frame[200:])

boston_data_drift_dashboard.save("boston_data_drift_report.html")